@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

table,
td {
  border: 1px solid;
}

.table-container {
  width: 90%;
  margin: 1rem auto;
}

tbody tr:nth-child(even) {
  background-color: #e8e8e8;
  border-top: none;
}

th {
  border-right: 1px solid black;
  line-height: 1.5rem;
  font-weight: bold;
}

td:nth-child(2) {
  width: 60%;
  text-align: start;
}

.reserve h6 {
  border: 1px solid rgb(0, 0, 0);
  margin: 0 0.5rem;
}
