.rocket-card {
  display: flex;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
}

button {
  float: left;
}

button.rocket-button {
  background-color: #0290ff;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
}

button.rocket-cancel {
  color: grey;
  border-radius: 5px;
  height: 30px;
  background-color: white;
  border-width: 1px;
}

.rocket-card-content {
  margin-left: 20px;
}

.rocket-card-content h1 {
  text-align: start;
  margin: 0;
  font-weight: 600;
}

.rocket-card-content p {
  text-align: start;
}

.rocket-reserve {
  background-color: #20b2aa;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  margin-right: 5px;
  padding: 1px 4px;
}
